main div.demoboxline {
  display: block;
  margin-bottom: 30px;
}
main div.demoboxline.of2 {
  display: grid;
  /* grid-template-columns: calc(50% - 15px) calc(50% - 15px); */
  grid-template-columns: auto auto;
  @media (max-width: 1000px){
    grid-template-columns: auto;
  }
  @media (max-width: 1200px){
  }
  column-gap: 30px;
  row-gap: 30px;
}
main div.demoboxline div.demobox {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid var(--color2);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
}
main div.demoboxline div.demobox div.top {
  margin: -20px -20px 20px -20px;
  padding: 20px;
  /* background-color: var(--color4); */
  background-color: var(--color5);
}
main div.demoboxline div.demobox div.top h2 {
  color: var(--color1);
  font-weight: bold;
  font-size: 1.35em;
  line-height: 1.25em;
  margin: 0px;
}
main div.demoboxline div.demobox div.top div.blurb {
  margin-top: 5px;
  line-height: 1.25em;
}
main div.demoboxline div.demobox div.middle {
  min-height: 100px;
  padding-bottom: calc(2.75em + 10px);
  overflow-x: auto;
}
main div.demoboxline div.demobox div.bottom {
  padding: 15px 20px 15px 20px;
  background-color: var(--color5);
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 1.75em;
}
main div.demoboxline div.demobox div.bottom a {}

main ul.callboxline {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  @media (max-width: 600px){
    grid-template-columns: auto;
    margin-bottom: -10px;
  }
  @media (max-width: 1200px){
    margin-bottom: -15px;
  }
  column-gap: 30px;
  row-gap: 20px;
}
main ul.callboxline li.callbox {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--color5);
  border: 1px solid var(--color2);
  padding: 20px;
  overflow: hidden;
  line-height: 1.75em;
}
main ul.callboxline li.callbox a {
  font-size: 1.1em;
  font-weight: bold;
}
main ul.callboxline li.callbox div.blurb {
  margin-top: 7px;  
  line-height: 1.5em;
}
