header {
  background-color: var(--color1);
  color: var(--color4);
  overflow-y: visible;
  padding: 12px 10px;
  height: 3.5em;
  box-sizing: border-box;
}

header a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  float: left;
  position: relative;
}
header a:hover {
  color: var(--color4)
}

header a.home {
  background-color: var(--color3);
  background-image: url(eist.svg);
  background-repeat: no-repeat;
  height: 10em;
  width: 275px;
  background-position: center;
  background-size: 70% auto;
  display: block;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: -12px;
  border-radius: 0px 0px 2px 2px;
  @media (max-width: 600px){
    height: 7em;
    width: 170px;
    background-position: center;
    background-size: 80% auto;
  }
}

header a.menuItem {
  display: inline-block;
  padding: 8px 20px;
  margin-left: 0px;
  border-bottom: 2px solid transparent;
  @media (max-width: 1100px){
    display: none;
  }
}
header a.menuItem.current {
  /* background-color: var(--color2);
  color: var(--color1); */
  border-bottom-color: #ffffff;
}

header a.right {
  display: block;
  padding: 8px 20px;
  float: right;
  position: relative;
  border-radius: 20px;
}
header a.right.current {
  background-color: #ffffff;
  color: var(--color1);
}
header a.right span.short {
  display: none;
  @media (max-width: 600px){
    display: inline;
  }
}
header a.right span.long {
  display: inline;
  @media (max-width: 600px){
    display: none;
  }
}