/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --colorN: #666666;
  --color0: #111111;
  --color1: #0E2B58;
  --color2: #b8c7d6;
  --color3: #4FC6DE;
  --color4: #b5ebf5;
  --color5: #e7eff1;
};

html {
  min-height: 100%;
}
body {
  font-family: 'Roboto Condensed', Verdana, sans-serif !important;
  font-size: 1.1rem;
  line-height: 1.15em;
  color: var(--color0);
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  background-image: url(wave.svg);
  background-repeat: no-repeat;
  background-size: auto 450px;
  background-position: center -150px;
  min-width: 350px;
  overflow-x: auto;
  @media (max-width: 600px){
    background-position: center -200px;
  }
}
@media (max-width: 400px){}
*:focus {
  outline: 2px dotted #ff7e7e;
  outline-offset: 5px;
}

main {
  clear: both;
  min-height: calc(100vh - 100px);
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px 15px 30px 15px;
  position: relative;
  box-sizing: border-box;
  line-height: 1.25em;
}

main a {
  text-decoration: none;  
  border-bottom: 1px solid;
  color: #245583;
  padding-bottom: 2px;
}
main a:hover {
  color: #3c6c99;
}

