@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --colorN: #666666;
  --color0: #111111;
  --color1: #0E2B58;
  --color2: #b8c7d6;
  --color3: #4FC6DE;
  --color4: #b5ebf5;
  --color5: #e7eff1;
};

html {
  min-height: 100%;
}
body {
  font-family: 'Roboto Condensed', Verdana, sans-serif !important;
  font-size: 1.1rem;
  line-height: 1.15em;
  color: var(--color0);
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  background-image: url(wave.svg);
  background-repeat: no-repeat;
  background-size: auto 450px;
  background-position: center -150px;
  min-width: 350px;
  overflow-x: auto;
  @media (max-width: 600px){
    background-position: center -200px;
  }
}
@media (max-width: 400px){}
*:focus {
  outline: 2px dotted #ff7e7e;
  outline-offset: 5px;
}

main {
  clear: both;
  min-height: calc(100vh - 100px);
  max-width: 1200px;
  margin: 0px auto;
  padding: 15px 15px 30px 15px;
  position: relative;
  box-sizing: border-box;
  line-height: 1.25em;
}

main a {
  text-decoration: none;  
  border-bottom: 1px solid;
  color: #245583;
  padding-bottom: 2px;
}
main a:hover {
  color: #3c6c99;
}

main div.hero {
  text-align: center;
  margin: 100px 0px 125px 0px;
}
main div.hero h1 {
  color: var(--color1);
  font-weight: bold;
  font-size: 3em;
  line-height: 1.25em;
  margin: 0px;
}
main div.hero div.slogan {
  line-height: 1.75em;
  margin-top: 0.5em;
  font-size: 1.25em;
}
main div.hero div.slogan a {
  white-space: nowrap;
}

main div.prose {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.75em;
  padding: 0px 15px;
}
main div.prose:last-child {
  margin-bottom: 100px;
  @media (max-width: 900px){
    margin-bottom: 0px;
  }
}

div.reddot::before {
  content: "•";
  color: #ff7e7e;
  font-size: 2rem;
  line-height: 1em;
  margin-right: 0.25em;
  position: relative;
  top: 5px;
  margin-left: 5px;
}
div.reddot {
  margin-top: 15px;
  font-size: 1rem;
  line-height: 1.5em;
  display: inline-block;
  background-color: var(--color5);
  padding: 0px 20px 7px 10px;
  border-radius: 40px;
}
footer div.reddot {
  background-color: #ffffff;
}
div.reddot a {
  color: var(--colorN);
  border-bottom: none;
}
div.reddot a:hover {
  color: #3c6c99;
}

main .iconrow {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 20px 0px;
  display: grid;
  column-gap: 0px;
  row-gap: 20px;
}
main .iconrow.of2 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
}
main .iconrow.of1 {
  grid-template-columns: auto;
}
main a.iconrow {
  border: none;
  border-radius: 20px;
}
main a.iconrow:hover {
  background-color: #f9f9f9;
}
main .iconrow div.iconbox {
  display: block;
  box-sizing: border-box;
  line-height: 1.75em;
  text-align: center;
  padding: 1px 10px;
}
main .iconrow span.icon {
  font-size: 3em;
  margin-bottom: 10px;
  background-color: var(--color3);
}
main a.iconrow:hover span.icon {
  background-color: var(--color3);
}
main .iconrow span.num {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--colorN);
}
main a.iconrow:hover span.num {
  color: var(--color1);
}
main a.iconrow span.caption {
  display: block;
  color: var(--color0);
  text-wrap: balance;
}
main a.iconrow span.caption.lonely {
  margin-top: 5px;
}
main a.iconrow:hover span.caption {
  color: var(--color1);
}
main a.iconrow span.button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px 20px;
  border-radius: 4px;
  background-color: var(--color5);
  border: 1px solid var(--color2);
  color: var(--color1);
  box-shadow: 4px 4px 0px var(--color5);
}
main a.iconrow:hover span.button {
  color: var(--color0);
  border-color: var(--colorN);
}
main a.iconrow:active span.button {
  position: relative;
  top: 1px;
  left: 1px;
  /* box-shadow: -4px -4px 0px var(--color5); */
}

