main div.demobox {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid var(--color2);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  margin-bottom: 50px;
}
main div.demobox div.top {
  margin: -20px -20px 20px -20px;
  padding: 20px;
  /* background-color: var(--color4); */
  background-color: var(--color5);
}
main div.demobox div.top h2 {
  color: var(--color1);
  font-weight: bold;
  font-size: 1.35em;
  line-height: 1.25em;
  margin: 0px;
}
